.DS_Store
*.pyc
*.pyo
.project
.pydevproject
.settings
.svn
secret.txt
settings_local.py
settings_webserver.py
*.db
.tmp*
build
*.tar.gz
*.bak
temp
logs/
migrations/
static_collection/
include
bin
lib
.Python
pip-selfcheck.json
puzzles
