{% extends "root.html" %}{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}

{% block sidebar %}
  {% if form.errors %}
  <ul class="messages">
      <li class="error"><span class="ui-icon ui-icon-alert"></span>{% trans "Sorry, that's not a valid username or password" %}</li>
  </ul>
  {% endif %}
{% endblock%}

{% block maincontent %}
  <h2>{% trans "Login" %}</h2>
  <p>{% trans "Please login using your username and password" %}</p>

  <form action="/accounts/login/" method="post" id="login-form" class="login ui-dialog-content">

    {% include "snippets/form_edit.html" %}

  <p class="field_wrapper ">
    <input type="hidden" name="next" value="{{ next }}" />
    <input type="submit" value="{% trans "Login" %}" />
  </p>
  <p><a href="/accounts/password/reset/">{% trans "Lost password?" %}</a></p>
  <p><a href="/accounts/register/">{% trans "No account yet?" %}</a></p>
  <p>{% blocktrans %}If you don’t have an account yet, you can <a href="/accounts/register/">register</a> one.{% endblocktrans %}</p>
  </form>

{% endblock %}
