{% extends "root.html" %}{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}


{% block sidecontent %}
  {% if form.errors %}
  <ul class="messages">
      <li class="error"><span class="ui-icon ui-icon-alert"></span>{% trans "Sorry, that's not a valid username or password" %}</li>
  </ul>
  {% endif %}
{% endblock%}


{% block maincontent %}

<form action="" method="post">{% csrf_token %}
  
  <h2>{% trans 'Password change' %}</h2>
  
  <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
  
  <p class="field_wrapper">
      <label for="id_old_password" class="required">{% trans 'Old password' %}:</label>
      <span class="field">{{ form.old_password }}</span>
      {% if form.old_password.errors %}{% for error in form.old_password.errors %}
        <span class="field_errors">{{ error }} </span>
      {% endfor %}{% endif %}
  </p>
  
  <p class="field_wrapper">
      <label for="id_new_password1" class="required">{% trans 'New password' %}:</label>
      <span class="field">{{ form.new_password1 }}</span>
      {% if form.new_password1.errors %}{% for error in form.new_password1.errors %}
        <span class="field_errors">{{ error }} </span>
      {% endfor %}{% endif %}
  </p>
  
  <p class="field_wrapper">
      <label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label>
      <span class="field">{{ form.new_password2 }}</span>
      {% if form.new_password2.errors %}{% for error in form.new_password2.errors %}
        <span class="field_errors">{{ error }} </span>
      {% endfor %}{% endif %}
  </p>
  
  <p class="field_wrapper">
    <span class="label">&nbsp;</span>
    <span class="field"><input type="submit" value="{% trans 'Change my password' %}" class="default" /></span>
  </p>
  
  <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</form>

{% endblock %}
