html {
    quotes: "\201E" "\201C" "\201A" "\2018";
	color: black;
	background-color: #fff1cd;
	background-image: url(../img/hintergrund.png);
	background-position: top left;
	background-repeat: no-repeat;
}

body {
	margin: 0 0 0 0;
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    text-align: left;
    font-size: 85%;
	volume: medium;
	voice-family: female;
	pitch: medium;
}

/* General*/
.clear  { 
	clear: both; 
}
.nobreak   { 
	white-space: nowrap; 
}
.left {
    vertical-align: middle; 
    float: left;
    text-align: left;
}
.right {
    float: right;
    text-align: right;
}


/* Titelei */

h1, h2, h3, h4, h5, legend {
	font-style: italic;
	color: #c33;
	line-height: 1.0;
	font-weight: bold;
	page-break-after: avoid;
	voice-family: male;
}

h1 {
	font-size: 182%;
	margin: 0 0 1em 0;
}

h2 {
	font-size: 167%;
	margin: 0 0 1em 0;
}

h2.center {
	font-size: 154%;
	margin: 0 0 1em 0;
}

h3 {
	font-size: 138.5%;
	margin: 1em 0 1em 0;
}

h4 {
	font-size: 116%;
	margin: 0.5em 0 0.25em 0;
}

h5, th, dt {
	font-size: 100%;
	font-weight:bold;
}

p, 
li, dd, 
td {
    line-height: 1.3;
}

.author, .autor {
	text-align: right;
	font-style: italic;
}

.hidden, .imagetext {
	display: none;
	visibility: hidden;
}

/* Bilder */

img {
	border: none;
	max-width: 100%;
}

img.intext-right,
.intext-right img,
#maincol p img {
	float:right;
	max-width: 300px;
	margin-left: 2em;
}

img.logotop {
	float:left;
	padding: 0 20px 0 20px;
	max-height: 110px;
	max-width: 50%;
	vertical-align: middle;
}

.image, .image_center {
	padding: 1em 0 1em 0;
}

/* Listen */

ul, ol, dl {
	margin-left: 0;
	margin-top: 0;
}

li {
	list-style-position: outside;
	margin-left: 1.5em;
}

ol li {
	list-style-type: decimal;
}

ul li, dl dd {
	list-style-type: disc;
	margin-bottom: 0.25em;
}

dt {
}

dd {
	margin-left: 1em;
	background: none;
}

li li {
	margin-left: 3em;
}


li li li {
	margin-left: 4.5em;
}


.rightbox li {
	list-style-image: none;
	list-style-type: none;
	margin-left: 0;
	font-weight: bold;
}

.rightbox li li {
	margin-left: 1.5em;
	font-weight: normal;
	background: none;
}

.rightbox li li li {
	margin-left: 3em;
	font-size: 77%;
}

/* Links */

a:link, 
a:visited, 
a:active {
	color: black;
	text-decoration: none !important;
}

a:active {
	font-weight: bold;
}

a:hover {
	color: red;
}

a img, a:link img, a:visited img, a:active img {
	border-bottom: none !important;
}

/* Auszeichnungen */

i, em {
	font-style: italic;
	pitch: high;
}

b, strong {
	font-weight: bold;
	volume: loud;
}

/* Forms */

input, textarea {
	font-size: 77%;
	line-height: 1.0;
}

.mainmenu a:link, .mainmenu a:visited .mainmenu a:active {
	border-bottom: none;
	text-decoration: none;
}

.mainmenu a:hover {
	color: #006;
	border-bottom: 1px solid #006;
}
/* top right bottom left */

/* Microformats */

.vcard {
	font-size: 85%;
	margin: 1em 0 1em 0;
}

.vcard .n div,
.vcard .postal-code {
	display: inline;
}

/* Bereiche */

#header {
    width: 100%;
    height: 160px;
    clear: both;
    /* background-color: #fc6;
	border-bottom: 2px solid #ccc; */
	background-image: url(../img/kopf_934x156.png);
	background-position: top left;
	background-repeat: no-repeat;
	z-index: 20;
}

#toptext {
	width: 99%;
	height: 20px;
	padding: 0.25em 0.5em 0.5em 0.5em;
	font-size: 77%;
	color: #fc6;
}

#toplogo {
}

#header ul.headmenu {
	font-weight: bold;
}

#header ul.headmenu li {
	position: relative;
	list-style-type: none;
	list-style-position: outside;
	display: inline;
}

#header ul.headmenu a {
	border: none;
	color: #fc6;
}

#header ul.headmenu ul {
	display: none;
}

#rightcol, #leftcol {
	height: 100%;
	width: 180px;
	position: absolute;
	z-index: 1;
}

#rightcol {
	right: 0;
	top:100px;
	float: right;
	margin-left: 2em;
	padding: 1em 0.5em 1em 0.5em;
}

#leftcol {
	left: 0;
	top:140px;
	float: left;
	margin-right: 2em;
	padding: 4em 0.5em 0 35px;
	background-image: url(../img/leftbox.png);
	background-repeat: no-repeat;
	background-position: top left;
}

#leftcol ul.navlist {
	color: #c00;
}

#leftcol ul.navlist a {
	border: none;
	color: #c00;
}

#leftcol ul.navlist > li {
	color: #c00;
	min-height: 40px; 
	padding: 8px 0 0 15px;
	list-style-type: none;
	list-style-position: outside;
	background-image: url(../img/button_gelb.png);
	background-repeat: no-repeat;
}

#leftcol ul.navlist > li:hover,
#leftcol ul.navlist > li.active {
	background-image: url(../img/button_blau.png);
}

#leftcol ul.subnavlist {
	display: none;
	font-size: 85%;
}

#leftcol li:hover ul.subnavlist {
	display: block;
}

#leftcol ul.subnavlist > li {
	padding: 0 0 0 0;
}

#leftcol ul.subnavlist > li:hover {
	color: white;
}

#maincol {
	position: absolute;
	top: 215px;
	left: 270px;
	height: 100%;
	min-width: 300px;
	max-width: 60em;
	padding: 0 5em 2em 0;
	display: inline-block;
}

#breadcrumbs {
	font-size: 85%;
	position: relative;
	top: -3em;
}

#main-right {
	float: right;
	margin-left: 2em;
	max-width: 50%;
}

#main-right img {
	width: 200px;
	max-width: 100%;
}
