{% extends "root.html" %}
{% load i18n range_tags %}

{% block title %}{% trans "Puzzle Grid" %}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}js/puzzle.js"></script>
{% endblock %}

{% block maincontent %}
{% include "snippets/toolbar.html" %}
{% if puzzle %}
<form action="/grid/save/" name="puzzle" id="puzzle_form" method="post" autocomplete="off">
{% csrf_token %}
<input type="hidden" name="maxcol" id="maxcol" value="{{puzzle.maxcol}}" />
<input type="hidden" name="maxrow" id="maxrow" value="{{puzzle.maxrow}}" />
<input type="hidden" name="maxnum" id="maxnum" value="{{puzzle.maxnum}}" />
<input type="hidden" name="chars" id="chars" value="{{puzzle.text}}" />
<input type="hidden" name="nums" id="nums" value="{{puzzle.nums}}" />
<input type="hidden" name="questions" id="questions" value="{{puzzle.questions}}" />
<input type="hidden" name="hash" id="hash" value="{{puzzle.hash}}" />
<div class="hidden" id="dicts"></div>
</form>
<form action="#" name="grid" id="grid_form" method="post" autocomplete="off">
<table class="puzzle">
	{% for row in puzzle.maxrow|get_range %}
	<tr id="row_{{row}}">
		{% for cell in puzzle.maxcol|get_range %}
		<td id="cell_{{row}}_{{cell}}" class="puzzlecell">
			<div id="num_{{row}}_{{cell}}" class="puzzlenum"></div>
			<input type="text" name="char_{{row}}_{{cell}}" id="char_{{row}}_{{cell}}" class="puzzlechar" length="1" maxlength="1" value="" />
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
</form>
<div class="clear"></div>
<form action='#' name="questions" id="questions_form" method="post" autocomplete="off">

{# we clone this template in javascript #}
<div class="ui-widget question hidden" id="question_template">
  <span class="label numlabel"><label for="qst_"></label></span>
  <input type="text" name="qst_" id="qst_" class="question" length="30" maxlength="255" value="" />
</div>

<div class="floatblock" id="questions_list_h">
  <h3>{% trans "horizontal" %}</h3>
</div>
<div class="floatblock" id="questions_list_v">
  <h3>{% trans "vertical" %}</h3>
</div>
</form>
{% else %}
<div class="clear"></div>
<p><span class="ui-icon ui-icon-star"></span> {% trans "Create a new crossword puzzle by clicking on the star button!" %}</p>
<p><span class="ui-icon ui-icon-note"></span> {% trans "Hint: Searching works only if you activate at least one dictionary." %}</p>
{% endif %}
{% endblock %}

{% block sidecontent %}
<p class="error hidden" id="dict_error"><span class="ui-icon ui-icon-note"></span> {% trans "Please select at least one dictionary!" %}</p>
<h3 class="dontprint hidden">{% trans "Search Results" %}</h3>
<div id="result" class="dontprint">
</div>
{% endblock %}