{% extends "root.html" %}
{% load cache i18n %}

{% block title %}{% trans "Puzzle Grid" %}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}js/puzzle.js"></script>
{% endblock %}

{% block maincontent %}
{% include "snippets/toolbar.html" %}
{% if puzzle %}
<form action="/grid/save/" name="grid" id="grid" method="post" autocomplete="off">
{% csrf_token %}
<input type="hidden" name="maxcol" id="maxcol" value="{{puzzle.maxcol}}" />
<input type="hidden" name="maxrow" id="maxrow" value="{{puzzle.maxrow}}" />
<input type="hidden" name="maxnum" id="maxnum" value="{{puzzle.maxnum}}" />
<input type="hidden" name="chars" id="chars" value="{{puzzle.text}}" />
<table class="puzzle">
	{% for row in puzzle.data %}
	<tr id="row_{{row.id}}">
		{% for cell in row.cols %}
		<td id="cell_{{row.id}}_{{cell.id}}" class="puzzlecell">
			<div id="num_{{row.id}}_{{cell.id}}" class="puzzlenum">{{ cell.num }}</div>
      <input type="hidden" name="num_{{row.id}}_{{cell.id}}" id="num_{{row.id}}_{{cell.id}}" value="{{ cell.num }}" class="puzzlenum" />
			<input type="text" name="char_{{row.id}}_{{cell.id}}" id="char_{{row.id}}_{{cell.id}}" class="puzzlechar" length="1" maxlength="1" value="{{ cell.char }}" />
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
<div class="hidden" id="dicts"></div>
</form>
{% else %}
<div class="clear"></div>
<p><span class="ui-icon ui-icon-star"></span> {% trans "Create a new crossword puzzle by clicking on the star button!" %}</p>
<p><span class="ui-icon ui-icon-note"></span> {% trans "Hint: Searching works only if you activate at least one dictionary." %}</p>
{% endif %}
{% endblock %}

{% block sidecontent %}
<h3 class="dontprint hidden">{% trans "Search Results" %}</h3>
<div id="result" class="dontprint">
</div>
{% endblock %}