{% extends "root.html" %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block maincontent %}
<div class="dontprint clear">
{% blocktrans %}
<h3>What’s this?</h3>
<p>The <em>fiëé croisée</em> project aims to become a semi-automatic crossword puzzle generator. 
Even if there's still a long way to go, it’s already a valuable help in creating crossword puzzles.</p>
<p>Proceed to the <strong><a href="/puzzle/" class="button">puzzle grid</a></strong> page and create a new puzzle.
At the moment you can print the page from the browser or export complete layout data
for <a href="http://www.tug.org">L<span class="tex-a">a</span><span class="tex-t">T</span><span class="tex-e">E</span><span class="tex-x">X</span></a> 
(<a href="http://www.gerd-neugebauer.de/software/TeX/cwpuzzle/">cwpuzzle</a>) or <a href="http://wiki.contextgarden.net">Con<span class="tex-t">T</span><span class="tex-e">E</span><span class="tex-x">X</span>t</a>.
Soon we can also provide print-ready puzzles as PDF.</p>
<p>More details come with the source code at <a href="http://github.com/fiee/croisee/">GitHub</a>.</p>
{% endblocktrans %}
</div>
{% endblock %}
