{% extends "root.html" %}
{% load cache i18n %}

{% block maincontent %}
<h2>{% trans "Cloze Search" %}</h2>
<form action="/" method="post" name="wordsearch">
	<div class="formline ui-widget">
		<label for="searchterm">{% trans "Search for:" %}</label>
		<input type="text" name="searchterm" id="searchterm" class="ui-widget-content" value="{{ searchterm }}" />
		<input type="submit" value="{% trans "Search" %}" />
		<div class="hint">{% trans "You can use <q>?</q> and <q>*</q> as wildcards for single or several characters." %}</div>
	</div>
	<h3>{% trans "Available Dictionaries" %}</h3>
	<ul class="resultlist">
		{% for d in dictionaries %}
		<li title="{{ d.description }}" class="ui-widget">
			<input type="checkbox" name="dic_{{ d.id }}" id="dic_{{ d.id }}" {% if not d.disabled %}checked="checked"{% endif %} />
			<label for="dic_{{ d.id }}">{{ d.name }} ({{ d.language }})</label>
		</li>
		{% empty %}
		<li class="error">{% trans "No dictionaries found" %}</li>
		{% endfor %}
	</ul>
</form>
{% endblock %}

{% block sidecontent %}
{% if posted %}
<h3>{{ resultcount}} {% trans "Search Results" %}</h3>
<dl class="resultlist">
	{% for w in results %}
	<dt title="{{ w.description }}">{{ w.word }}</dt>
		<dd>{% trans "in" %} {{ w.dictionary }}</dd>
	{% empty %}
	<dt class="error">{% trans "No matching words found" %}</dt>
	{% endfor %}
</dl>
{% endif %}
{% endblock %}