{% extends "root.html" %}
{% load cache i18n %}

{% block title %}{% trans "Cloze Search" %}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}js/puzzle.js"></script>
{% endblock %}

{% block maincontent %}
{% include "snippets/clozeform.html" %}
{% include "snippets/dictionaries.html" %}
<div class="dontprint clear">
{% blocktrans %}
<h3>What’s this?</h3>
<p>The <em>fiëé croisée</em> project aims to become a semi-automatic crossword puzzle generator. 
Even if there's still a long way to go, it’s already a valuable help in creating crossword puzzles.</p>
<p>On this page you can just look up words that match a special pattern.</p>
<p>There’s also a <strong><a href="/grid/">puzzle grid</a></strong> you can work in.
At the moment you can just print the page from the browser, but soon you’ll be able to export complete layout data for T<sub>E</sub>X or order your print-ready puzzle as PDF.</p>
<p>More details come with the source code at <a href="http://github.com/fiee/croisee/">GitHub</a>.</p>
{% endblocktrans %}
</div>
{% endblock %}

{% block sidecontent %}
<div id="result" class="dontprint">
</div>
{% endblock %}