{% load cache i18n %}{% get_current_language as LANGUAGE_CODE %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>fiëé croisée :: {% block title %}{% endblock %}</title>
	<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
	<link rel="icon" href="{{ STATIC_URL }}favicon.ico" type="image/ico" />
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.14.1/build/cssgrids/cssgrids-min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen,projection" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/print.css" type="text/css" media="print" />
  <link type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" ></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-migrate-1.2.1.js" ></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js" ></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.4.custom.min.js"></script>
  <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
  <script type="text/javascript">
    /* see https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax */
    $(document).ajaxSend(function(event, xhr, settings) {
        function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        if (!(safeMethod(settings.type) || settings.crossDomain)) {
            xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
        }
    });
    $(function(){
      $('button, input[type=submit], input[type=button], .button').button();
      {% block extra_jquery %}
      {% endblock %}
    });
  </script>
	{% block extrahead %}
	{% endblock %}
</head>
<body>
  <div class="yui3-g">
		<div id="hd">
			{% block hd %}
			<div class="fiee"><h1><img src="{{ STATIC_URL }}img/fiee_croisee.png" alt="ﬁëé croisée" /></h1></div>
      {% include "snippets/menu.html" %}
			{% endblock %}
		</div>
		<div id="bd">
			{% block bd %}
			<div id="main" class="yui3-u">
				{% block maincontent %}
				{% endblock %}
			</div>
			<div id="sidebar" class="yui3-u">
				{% block sidecontent %}
				{% endblock %}
			</div>
			{% endblock %}
      <div class="clear"></div>
		</div>
		<div id="ft" class="dontprint">
			{% block ft %}
			<div class="left"><em><a href="http://www.fiee.net">{% trans "fiëé croisée is a free service of fiëé visuëlle." %}</a></em><br />
			{% trans "If you like it, would you please donate for further development?" %}</div>
			<div class="right">
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="7955781">
					<input type="image" src="https://www.paypal.com/de_DE/CH/i/btn/btn_donate_SM.gif" name="submit" alt="Jetzt einfach online bezahlen – mit PayPal.">
					<img alt="" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1">
				</form>
			</div>
			{% endblock %}
			<div class="clear"></div>
		</div>
	</div>
</body>
</html>