{% load i18n %}
<ul id="mainmenu">
  <li>{# fiee Menu #}
    <a href="/"><img src="{{ STATIC_URL }}img/favicon_16.png" style="height:16px;" alt="fiëé" /></a>
    <ul>
      <li><a href="/about/"><span class="ui-icon ui-icon-help"></span> {% trans "About fiëé croisée" %}</a></li>
      <li><a href="/"><span class="ui-icon ui-icon-home"></span> {% trans "Home" %}</a></li>
      {% if user.is_authenticated %}
      <li><a href="/accounts/logout/"><span class="ui-icon ui-icon-power"></span> {% trans "Logout" %} {{ user }}</a></li>
      <li><a href="/accounts/password/change/"><span class="ui-icon ui-icon-wrench"></span> {% trans "Password change" %}</a></li>
      {% if user.is_superuser %}
      <li><a href="/admin/"><span class="ui-icon ui-icon-key"></span> {% trans "Administration" %}</a></li>
      {% endif %}
      {% else %}
      <li><a href="/accounts/login/"><span class="ui-icon ui-icon-person"></span> {% trans "Login" %}</a></li>
      {% endif %}
      {% block menu_fiee %}
      {% endblock %}
    </ul>
  </li>
  {% block navigation %}
  {% if not puzzle %}
  <li>
    <a href="{% url croisee-puzzle-new %}">{% trans "Puzzle" %}</a>
    <ul>
      <li><a href="{% url croisee-puzzle-list %}">{% trans "Open..." %}</a></li>
    </ul>
  </li>
  {% endif %}
  {% if dictionaries %}
  <li>
    <a>{% trans "Dictionary" %}</a>
    <ul>
      {% for d in dictionaries %}{% if d.name != user.username %}
      <li><a href="{% url croisee-dictionary d.id %}">{{ d.name }} ({{ d.language }})</a></li>
      {% endif %}{% empty %}
      <li class="error">{% trans "No dictionaries found" %}</li>
      {% endfor %}
      <li><a href="{% url croisee-dictionary-personal %}">{% trans "Personal Dictionary" %}</a></li>
    </ul>
  </li>
  {% endif %}
  <li>
    <a>{% trans "Language" %}</a>
    <ul>
      <li>{% include "snippets/setlanguage.html" %}</li>
    </ul>
  </li>
  <!--
  <li>{# Menu Help #}
    <a>{% trans "Help" %}</a>
    <ul>
      <li><a id="menu_help"><span class="ui-icon ui-icon-help"></span>{% trans "Keys" %}</a></li>
      <li><a href=""><span class="ui-icon ui-icon-heart"></span>{% trans "Donations" %}</a></li>
    </ul>
  </li>
  -->
  {% endblock %}
</ul>{# navlist main #}
