{% load i18n %}

{% if posted %}
<h3>{{ resultcount}} {% trans "Search Results" %}</h3>
<dl class="resultlist">
	{% for w in results %}
	<dt title="{{ w.description }}"><a href="http://{{w.dictionary.language}}.wikipedia.org/wiki/{{w.word.title}}" title="{% trans "Look up in Wikipedia" %}" class="dontprint"><img src="http://upload.wikimedia.org/wikipedia/commons/archive/6/63/20050601172023%21Wikipedia-logo.png" style="height:1em;width:1em;" alt="Wikipedia Logo"/></a> {{ w.word }}</dt>
		<dd>{% trans "in" %} {{ w.dictionary }}</dd>
	{% empty %}
	<dt class="error">{% trans "No matching words found" %}</dt>
	{% endfor %}
</dl>
{% endif %}

<h3>{{ resultcount}} {% trans "Search Results" %}</h3>
{% for res in results %}
<div class="ajax_result {{ res.direction }}">
	<h4>{{ res.name }}:</h4>
	<p><span class="searchterm">{{ res.searchterm }}</span>
	(<span class="resultcount">{{ res.resultcount }}</span> {% trans "results" %})</p>
	<dl class="resultlist">
		{% for w in res.results %}
		<dt title="{{ w.description }}">
			<a href="http://{{w.dictionary.language}}.wikipedia.org/wiki/{{w.word.title}}" title="{% trans "Look up in Wikipedia" %}" class="dontprint">
				<img src="http://upload.wikimedia.org/wikipedia/commons/archive/6/63/20050601172023%21Wikipedia-logo.png" style="height:1em;width:1em;" alt="Wikipedia Logo"/>
			</a> <span class="word {{ res.direction }}" title="{% trans "insert in grid" %}">{{ w.word }}</span>
		</dt>
		<dd class="description">{{ w.description }}</dd>
		<dd class="from_dict">{% trans "in" %} {{ w.dictionary }}</dd>
		{% endfor %}
	</dl>
</div>
{% endfor %}
