{% load i18n %}
<div id="puzzle_toolbar" class="toolbar">
  <ul>
    <li><a class="button" accesskey="2" title="{% trans "New Puzzle" %} [2]" id="tb_new_puzzle" href="{% url croisee-grid %}"><span class="ui-icon ui-icon-star"></span></a></li>
    <li><a class="button" accesskey="3" title="{% trans "Save Puzzle" %} [3]" id="tb_save_puzzle" href="{% url croisee-save %}"><span class="ui-icon ui-icon-disk"></span></a></li>
    <li><a class="button" accesskey="7" title="{% trans "Clear Puzzle" %} [7]" id="tb_clear_puzzle" href="{% url croisee-grid %}"><span class="ui-icon ui-icon-trash"></span></a></li>
    <!--
    <li><a class="button" title="{% trans "Adapt Puzzle Size" %}" href="{#% url croisee-adapt %#}"><span class="ui-icon ui-icon-arrow-2-se-nw"></span></a></li>
    <li><a class="button" title="{% trans "Move Puzzle Contents" %}" href="{#% url croisee-move %#}"><span class="ui-icon ui-icon-arrow-4-diag"></span></a></li>
    -->
    <li>
    <form action="/{{cloze_action}}" method="post" name="cloze_search" id="cloze_search">
      {% csrf_token %}
      <label for="searchterm" class="hidden">{% trans "Search for:" %}</label>
      <input type="text" accesskey="S" name="cloze_searchterm" id="cloze_searchterm" value="{{ searchterm }}" title="{% trans "You can use “_” and “*” as wildcards for single or several characters." %}"/>
      <a class="button" accesskey="4" id="cloze_search_submit" title="{% trans "Search" %} [4]"><span class="ui-icon ui-icon-search"></span></a>
    </form> 
    </li>

    <li><a class="button" title="{% trans "Dictionaries" %}" id="tb_dicts"><span class="ui-icon ui-icon-note"></span></a></li>
    <li><a class="button" accesskey="6" title="{% trans "Help" %} [6]" id="tb_help"><span class="ui-icon ui-icon-help"></span></a></li>
  </ul>
</div>

{# dialogs #}

<div id="dialog_keys_help" class="legend hidden" title="{% trans "Keys" %}">
  <dl class="legend">
      <dt>&larr; &uarr; &darr; &rarr;</dt><dd>{% trans "move cursor" %}</dd>
      <dt>a&ndash;z</dt><dd>{% trans "place character and move right" %}</dd>
      <dt>A&ndash;Z</dt><dd>{% trans "place character and move down" %}</dd>
      <dt>{% trans "space" %}</dt><dd>{% trans "block field" %}</dd>
      <dt>{% trans "backspace" %}</dt><dd>{% trans "delete character" %}</dd>
      <dt>#</dt><dd>{% trans "set or reset number" %}</dd>
      <dt>?</dt><dd>{% trans "query dictionary for matching words" %}</dd>
  </dl>
</div>

<div id="dialog_clear_confirm" class="hidden" title="{% trans "Clean Puzzle" %}">
  <p>
    <span class="ui-icon ui-icon-alert" class="left"></span>
    {% trans "Are you sure you want to delete all contents of your current puzzle?" %}
  </p>
</div>

<div id="dialog_new_puzzle" class="hidden" title="{% trans "New Puzzle" %}">
  {# ask for dimensions to create grid #}
  <form action="/grid/" name="create_grid" method="post">
    {% csrf_token %}
    <div class="formline ui-widget">
      <span class="label"><label for="maxcol">{% trans "Rows:" %}</label></span> 
      <input type="text" name="maxcol" id="maxcol" length="3" maxlength="2" value="{{defaultx}}" class="ui-widget-content numeric" />
    </div>
    <div class="formline ui-widget">
      <span class="label"><label for="maxrow">{% trans "Lines:" %}</label></span> 
      <input type="text" name="maxrow" id="maxrow" length="3" maxlength="2" value="{{defaulty}}" class="ui-widget-content numeric" />
    </div>
    <div class="formline ui-widget">
      <input type="submit" value="{% trans "Create" %}" />
    </div>
  </form>
</div>

<div id="dialog_dicts" class="hidden" title="{% trans "Available Dictionaries" %}">
<ul class="checkboxlist">
    {% for d in dictionaries %}
    <li title="{{ d.description }}" class="ui-widget">
        <input type="checkbox" name="dic_{{ d.id }}" id="dic_{{ d.id }}" class="dictionary-checkbox" {%  if not d.disabled %}checked="checked"{%  endif %} />
        <label for="dic_{{ d.id }}">
            {{ d.name }} ({{ d.language }})
        </label>
    </li>
    {% empty %}
    <li class="error">
        {% trans "No dictionaries found" %}
    </li>
    {% endfor %}
</ul>
</div>
